body {
    margin: 0px;
    padding: 0px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #333333;
    background-color: #f2f2f2;
}

.visually-hidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}

.main-header {
    position: relative;
    background-color: #ffffff;
}

.navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px;
    padding: 16px 70px 18px;
    list-style-type: none;
}

.navigation-menu li {
    padding: 0px;
    margin: 0px;
    width: 25%;
}


.navigation-menu li:nth-child(3) {
    margin-left: 83px;
    text-align: right;
}

.navigation-menu li:nth-child(4) {
    text-align: right;
}

.navigation-menu a {
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
}

.header-logo {
    position: absolute;
    left: 530px;
    top: 0px;
    z-index: 1;
}

.welcome {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 510px;
    background-image: url(../img/welcome.jpg);
    background-repeat: no-repeat;
    background-color: #869dc1;
}

.welcome:after {
    position: absolute;
    bottom: -2px;
    content: "";
    height: 59px;
    width: 100%;
    background-image: url(../img/polygon.svg);
    background-repeat: no-repeat;
    z-index: 1;
}

.main-advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
}

.more-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
}

.more-information p {
    margin: 0;
    padding: 0;
}

.description h1 {
    margin: 0px;
    padding: 0px;
    padding-top: 58px;
    margin-bottom: 27px;
    line-height: 26px;
    font-size: 21px;
    color: #000000;
    text-align: center;
}

.description h2 {
    margin: 0px;
    padding: 0px;
    padding-bottom: 52px;
    line-height: 26px;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    text-align: center;
}

.main-advantage div {
    color: #ffffff;
    background-color: #81b3d2;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
}

.main-advantage h3 {
    margin: 0px;
    padding: 0px;
    padding-top: 47px;
    margin-bottom: 65px;
    font-weight: bold;
    line-height: 21px;
    font-size: 21px;
    text-align: center;
}
.main-advantage p {
    position: relative;
    margin: 0px;
    padding: 0px;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
}

.first-advantage p::before {
    position: absolute;
    bottom: 150%;
    right: 45%;
    content: "- №1 -";
    color: #ffffff;
}

.offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-bottom: 83px;
}

.offers h3 {
    margin: 0px;
    padding: 0px;
    padding-top: 161px;
    margin-bottom: 23px;
    line-height: 21px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.offers p {
    margin: 0px;
    padding: 0px;
    line-height: 21px;
    font-size: 14px;  
    text-align: center;
    color: #000000;
}

.offers li {
    position: relative;
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.offers .accomodation {
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: center 35%;
}

.offers .food {
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: center 35%;
}

.offers .souvenirs {
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: center 33%;
}

.second-advantage {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.second-advantage p::before {
    position: absolute;
    bottom: 150%;
    right: 45%;
    content: "- №2 -";
    color: #ffffff;
}

.more-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 0px;
    color: #000000;
    background-color: #eeeeee;
}

.more-information li {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.more-information h3 {
    margin: 0px;
    padding: 0px;
    padding-top: 46px;
    margin-bottom: 67px;
    line-height: 21px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.more-information p {
    position: relative;
    margin: 0px;
    padding: 0px;
    padding-bottom: 58px;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
}

.more-information .area::before {
    position: absolute;
    bottom: 122%;
    right: 45%;
    content: "- №3 -";
    color: #000000;
}

.more-information .road::before {
    position: absolute;
    bottom: 122%;
    right: 45%;
    content: "- №4 -";
    color: #000000;
}

.more-information .tourists::before {
    position: absolute; 
    bottom: 122%;
    right: 45%;
    content: "- №5 -";
    color: #000000;
}

.booking h2 {
    margin: 0;
    padding: 0;
    padding-top: 54px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.booking .booking-offer{
    margin: 0;
    padding-top: 28px;
    padding-bottom: 52px;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
}

.search-map {
    position: relative;
    overflow: hidden;
    min-height: 473px;
    margin-bottom: -5px;
}

iframe {
    width: 100%; 
    height: 473px;
    border: 0;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
}

.booking-button {
    display: inline-block;
    margin-left: 315px;
    padding: 30px 0;
    width: 570px;
    line-height: 26px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    background-color: #766357;
}

.booking-button:hover {
    background-color: #604e43;
}

.booking-button:active {
    background-color: #503e33;
    color: #857871;
}

.booking-button:active .booking-form {
    display: none;
}

.booking-fieldset {
    padding: 0;
    margin: 0;
    width: 458px;
    border: none;
}

.booking-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 315px;
    top: -397px;
    padding: 56px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
    -webkit-animation-name: sliding;
            animation-name: sliding;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.form-show {
    -webkit-animation-name: sliding-reverse;
            animation-name: sliding-reverse;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
}

@-webkit-keyframes sliding {
    from {-webkit-transform: translateY(0%);transform: translateY(0%);}
    to {-webkit-transform: translateY(100%);transform: translateY(100%);}
}

@keyframes sliding {
    from {-webkit-transform: translateY(0%);transform: translateY(0%);}
    to {-webkit-transform: translateY(100%);transform: translateY(100%);}
}

@-webkit-keyframes sliding-reverse {
    from {-webkit-transform: translateY(100%);transform: translateY(100%);}
    to {-webkit-transform: translateY(0%);transform: translateY(0%);}
    
}

@keyframes sliding-reverse {
    from {-webkit-transform: translateY(100%);transform: translateY(100%);}
    to {-webkit-transform: translateY(0%);transform: translateY(0%);}
    
}

.booking-form p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.booking-form .search-submit {
    margin-bottom: 0px;
}

.booking-form label,
.booking-form input[type=text] {
    min-height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    font-family: inherit;
    text-transform: inherit;
    color: #000000;
}

.booking-form input[type=text] {
    background-color: #f2f2f2;
    border: none;
    outline: none;
}

.booking-form input[type=text]:hover {
    background-color: #ebebeb;
}

.booking-form input[type=text]:focus {
    background-color: #ffffff;
    -webkit-box-shadow: inset 0px 0px 0px 2px #e5e5e5;
            box-shadow: inset 0px 0px 0px 2px #e5e5e5;
}

.arrival-date,
.leave-date {
    padding-left: 12px;
    -ms-flex-preferred-size: 332px;
        flex-basis: 332px;
}

.booking-form .vacation-date {
    position: relative;
}

.booking-form .calendar-button {
    position: absolute;
    fill: #cacaca;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.booking-form .calendar-button:hover {
    fill: #000000;
}

.booking-form .calendar-button:active {
    fill: #81b3d2;
}

.booking-form .arrival-button {
    top: 63px;
    right: 58px;
}

.booking-form .leave-button {
    top: 130px;
    right: 58px;
}

.form-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 23px;
}

.form-counter .label-adults {
    margin-right: 42px;
}

.form-counter .label-children{
    margin-right: 27px;
}

.form-counter input[type=text]{
    width: 36px;
    border: none;
    text-align: center;
    outline: none;
}

.form-counter button {
    position: relative;
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
}

.form-counter button:before {
    position: absolute;
    top: 18px;
    left: 13px;
    content: "";
    width: 13px;
    height: 3px;
    background-color: #a9a9a9;
}

.form-counter .increment:after {
    position: absolute;
    top: 13px;
    right: 17px;
    content: "";
    width: 3px;
    height: 13px;
    background-color: #a9a9a9;
}

.form-counter button:hover:before,
.form-counter .increment:hover:after {
    background-color: #000000;
}

.form-counter button:active:before,
.form-counter .increment:active:after{
    background-color: #81b3d2;
}

.search-button {
    padding: 16px 196px;
    width: 100%;
    font-family: inherit;
    line-height: 26px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    background-color: #81b3d2;
    outline: none;
}

.search-button:hover {
    background-color: #669ec0;
}

.search-button:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-footer div {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
}

.main-footer .hashtag {
    text-align: center;
}

.hashtag p {
    margin: 0px;
    padding-top: 47px;
    padding-bottom: 47px;
    line-height: 26px;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.social-networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-networks ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
}

.social-networks li {
    margin-right: 6px;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    
}

.social-networks a {
    margin-right: 6px;
}

.social-networks .twitter {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-networks .facebook {
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-networks .youtube{
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-menu a:hover {
    color: #81b3d2;
}

.navigation-menu a:active {
    color: #b2b2b2;
}

.social-networks li:hover {
    background-color: #669ec0;
}

.social-networks .twitter:active {
    background-color: #5496bd;
    background-image: url(../img/twitter-active.svg);
}

.social-networks .facebook:active {
    background-color: #5496bd;
    background-image: url(../img/fb-active.svg);
}

.social-networks .youtube:active {
    background-color: #5496bd;
    background-image: url(../img/youtube-active.svg);
}

.created-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.created-by p {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    line-height: 26px;
    font-size: 14px;
}

.created-by .academy-link {
    margin-bottom: -5px;
}

.navigation-menu .active-link {
    color: #766357;
}

.hotels-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 216px;
    background-image: url(../img/filter-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #796b6a;
}

.hotels-filter ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 27px 72px;
}

.filter legend {
    padding: 0;
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.filter label {
    line-height: 21px;
    font-size: 14px;
    color: #ffffff;
}


.hotels-filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.hotels-filter .filter-infrostructure,
.hotels-filter .filter-accomodation {
     margin-right: 118px;
}

.filter-option {
    margin-top: 25px;
}

.filter-option label {
    position: relative;
    padding-left: 39px;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-checkbox + label::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 0;
    top: -1px;
}

.filter-checkbox:checked + label::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 25px;
    left: 0px;
    top: -1px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.hotels-filter .filter-range {
    margin-left: auto;
    width: 318px;
    color: #ffffff;
}

.filter-range-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    margin-bottom: 20px;
    height: 32px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    padding: 0;
    height: 32px;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price {
    padding-left: 65px;
    width: 90px;
}

.price-controls .max-price {
    padding-left: 57px;
    width: 90px;
}

.price-controls input {
    margin: 0;
    padding: 0;
    height: 32px;
    width: 50px;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.hotels-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.hotels-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hotels-list .sort-top {
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}

.sort-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.hotel-sort {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.hotel-sort li {
    margin-right: 32px;
}

.hotel-sort label{
    cursor: pointer;
}

.sort-buttons {
    margin-left: auto;
}

.sort-buttons polygon:hover,
.sort-buttons polyline:hover {
    fill: #000000;
}

.sort-buttons polygon:active,
.sort-buttons polyline:active {
    fill: #81b3d2;
}

.sort-buttons span:last-child {
    margin-left: 10px;
}

.sort-top p {
    margin: 0;
    padding: 0;
    margin-right: 47px;
    line-height: 26px;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.sort-top .sort-span {
    margin-right: 41px;
    line-height: 18px;
    font-size: 12px;
    color: #000000;
}

.hotel-sort li {
    line-height: 18px;
    font-size: 12px;
    color: #b1b1b1;
    
}

.hotel-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 72px;
}

.hotel-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}



.hotel-description h3 {
    margin: 0;
    padding: 0;
    line-height: 26px;
    font-size: 21px;
    color: black;
    font-weight: bold;
}

.hotel-name h3:hover {
    color: #81b3d2;
}

.hotel-name h3:active {
    color: #b2b2b2;
}


.info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.hotel-photo {
    margin-right: 30px;
}

.hotel-photo img {
    margin-top: 5px;
}

.hotel-name {
    margin-bottom: 7px;
}

.hotel-info,
.hotel-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.hotel-info {
    margin-right: 6px;
}

.hotel-info span,
.hotel-book span {
    margin-bottom: 14px;
    line-height: 21px;
    font-size: 14px;
    color: #333333;
}

.hotel-book a,
.hotel-info a{
    padding: 3px 17px;
    line-height: 21px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.hotel-info .info-button {
    background-color: #81b3d2;
}

.hotel-info .info-button:hover {
    background-color: #669ec0;
}

.hotel-info .info-button:active {
    color: #88b6d1;
    background-color: #5496bd
}

.hotel-book .reserve-button {
    background-color: #766357;
}

.hotel-book .reserve-button:hover {
    background-color: #604e43;
}

.hotel-book .reserve-button:active {
    color: #857871;
    background-color: #503e33;
}

.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    padding: 5px 0px;
} 

.rating p {
    margin: 0;
    padding: 3px 14px;
    line-height: 21px;
    font-size: 14px;
    background-color: #f2f2f2;
}

.rating ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.rating li {
    margin-left: 6px;
    width: 18px;
    height: 17px;
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
}

.academy-link path {
    fill:inherit;
    stroke:inherit;
    stroke-width:inherit;
    
}
.academy-link svg:hover {
    fill: #81b3d2;
    stroke: #81b3d2;
    color: #81b3d2;
}

.academy-link rect {
    fill:inherit;
    stroke:inherit;
    stroke-width:inherit;
    
}

.academy-link svg:active {
    fill: #bdbbbc;
    stroke: #bdbbbc;
    color: #bdbbbc;
}

input[type=radio] + label {
    -webkit-text-decoration: underline dotted #81b3d2;
            text-decoration: underline dotted #81b3d2;
}


input[type=radio]:checked + label {
    color: #81b3d2;
    text-decoration: none;
}

input[type=radio] + label:hover {
    color: #81b3d2;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
}

input[type=radio] + label:active {
    color: #000000;
    text-decoration: none;
}


input::-ms-clear {
    display: none;
}